language: java
jdk:
  - openjdk11
  
branches:
  only:
  - master
    
cache:
  directories:
  - "$HOME/.m2/repository"
  - '$HOME/.gradle'
  
script: "./gradlew clean build"

services:
  - mysql

env:
  - MYSQL_HOST=127.0.0.1 MYSQL_USER=root

before_install:
  - chmod +x gradlew  
  - wget https://repo.mysql.com//mysql-apt-config_0.8.10-1_all.deb
  - sudo dpkg -i mysql-apt-config_0.8.10-1_all.deb
  - sudo apt-get update -q
  - sudo apt-get install -q -y --allow-unauthenticated -o Dpkg::Options::=--force-confnew mysql-server
  - sudo systemctl restart mysql
  - sudo mysql_upgrade
  - mysql --version  
  - mysql -e 'CREATE DATABASE cbot;'

before_deploy:
  - mkdir -p before-deploy # zip에 포함시킬 파일들을 담을 디렉토리 생성 # (1)
  - cp build/libs/*.jar before-deploy/
  - cd before-deploy && zip -r before-deploy * # before-deploy로 이동 후 전체 압축 # (3)
  - cd ../ && mkdir -p deploy # 상위 디렉토리로 이동 후 deploy 디렉토리 생성
  - mv before-deploy/before-deploy.zip deploy/webbot.zip # deploy로 zip파일 이동
  
deploy:
  provider: releases
  api_key: $TOKEN
  file: 
    - "deploy/webbot.zip"
    
  file_glob: true
  skip_cleanup: true
  on:
    repo: ijehyunpark/temp-test